doctype html 
html(lang="en") 
  head 
    meta(charset="utf-8") 
    meta(name="viewport" , content="width=device-width , initial-scale=1.0") 
    title= title 
    meta(name='viewport' , content='width=device-width , initial-scale=1.0') 
    meta(name='description' , content='Todo list helps you organize your task')
    meta(property="og:type" content="website")
    meta(property="og:url" content="http://localhost:4000")
    meta(property="og:site_name" content="Todo")
    link(rel='icon' href='/images/favicon.png')
    link(rel='stylesheet' , href='/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet' , href='/fontawesome/css/all.min.css')