doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title= title
    meta(name='viewport' , content='width=device-width , initial-scale=1.0') 
    meta(name='description' , content='Todo list helps you organize your task')
    meta(property="og:type" content="website")
    meta(property="og:url" content="http://localhost:4000")
    meta(property="og:site_name" content="Todo")
    link(rel='icon' href='/images/favicon.png')
    link(rel='stylesheet' , href='/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet' , href='/fontawesome/css/all.min.css')
  body
    nav(role="navigation" class="navbar navbar-expand-lg")
      div(class="container")
        a(class='navbar-brand' , href='/') ekoWaste
        button(button type="button" class="navbar-toggler collapsed custom-toggler" data-toggle="collapse" data-target="#menu"
          arials-control="menu" aria-expanded="false" aria-label="Toggle navigation")
         span(class="navbar-toggler-icon")
        div(class="navbar-collapse collapse" id="menu")
          ul(class="navbar-nav ml-auto")
            li(class="nav-item mr-3")
              a(class="nav-link active" href="/") Home
            li(class="nav-item mr-3")
              a(class="nav-link active" href="") About
            li(class="nav-item mr-3")
              a(class="nav-link active" href="/staff") Staff
            li(class="nav-item mr-3")
              a(class="nav-link active" href="/login") Log In
    block content
    script(src="/bootstrap/assets/js/vendor/jquery-slim.min.js")
    script(src="/bootstrap/assets/js/vendor/popper.min.js")
    script(src="/bootstrap/dist/js/bootstrap.min.js")