extends layout 
block content 
  main 
    div(class='container pt-5')
      h1(class='text-center form-title')= title  
      div(class='row') 
        div(class='col-md-3') 
        div(class='col-md-6')
          form(action='' , method='POST' class='signup-form') 
            if error 
              p.error  #{error}			
            input(type='text' , placeholder='Enter your email' ,
              | class='form-control mt-4' , name='email' id='email' required)
            input(type='password' ,  class='form-control mt-4' , placeholder="password" , 
              | name='password' id='password' required)
            div(class="click mt-5") 
              input(type='submit'  , class='btn btn-success' , name='submit' id='submit' value='Login') 
        div(class='col-md-3')