extends layout 
block content 
  div(class="reg_note")
    h1 Thank you for registering to use our services 
    if email 
      p A confirmation email was sent to #{email}, kindly click on the link attached to the mail to confirm your account